name: Pages

on:
  push:
    branches:
      - "master"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # We can invalidate the current cache by updating this.
      CACHE_VERSION: "2022-10-21"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/configure-pages@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/red-datasets
          key: ${{ env.CACHE_VERSION }}-pages-${{ hashFiles('lib/**') }}
          restore-keys: |
            ${{ env.CACHE_VERSION }}-pages-
      - name: Install dependencies
        run: |
          bundle install
      - name: Generate
        run: |
          bundle exec rake pages
      - uses: actions/upload-pages-artifact@v4

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment

